<!DOCTYPE html>
<html lang="zxx">
<head>
<title>TCS inframind</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/snow.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/font-awesome.css" rel="stylesheet"> 
</head>
<body ng-app="myApp">
						<div class="pages_agile_info_w3l">
							   <div class="over_lay_agile_pages_w3ls">
								    <div class="registration">
								
												<div class="signin-form profile" ng-controller="userlogincontroller">
													<h2>User Login</h2>
													<div class="login-form">
														<form ng-submit="postdata(admin)">
															<input type="text" name="email" ng-model="admin.username" placeholder="E-mail" required="">
															<input type="password" name="password" ng-model="admin.password" placeholder="Password" required="">
															<div class="tp">
																<input type="submit" value="SIGN IN">
															</div>
														</form>
													</div>
													
													<p><a href="signup.html"> Forgot  Password</a></p>
													
													 <h6><a href="#">Health is wealth</a><h6>
												</div>
										</div>
											<div class="copyrights_agile">
												 </p>
											</div>	
						    </div>
						</div>
							
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="../javascripts/userlogin.js"></script>
</body>
</html>